# REMOVE COMMENTS WHEN COPY THIS FILE AND TRIM TRAILING WHITESPACES
# Ask the team for recommended values

# DOCKER VARIABLES FOR AUTOMATION
SUDO=sudo                                         # <- how local user executes system commands - leave it empty if not necessary ----------------------> #
DOCKER=sudo docker                                # <- how local user executes Docker commands --------------------------------------------------------> #
DOCKER_COMPOSE=sudo docker compose                # <- how local user executes "docker compose" or docker-compose command -----------------------------> #

# BASE INFORMATION FOR docker-compose.yml
PROJECT_NAME="MARIA APX"                          # <- project name will be used for automation outputs -----------------------------------------------> #
PROJECT_LEAD=miapxhd                              # <- abbreviation or acronym name as part of the container tag that is useful relationship naming ---> #
PROJECT_HOST="127.0.0.1"                          # <- machine hostname referrer - not necessary for this project -------------------------------------> #
PROJECT_CNET=any-dev                              # <- required for networking between multiple containers - avoid repeating it between projects ------> #

# APIREST - LOCAL
APIREST_PLTF=nginx-php                            # <- platform assets directory's name ---------------------------------------------------------------> #
APIREST_IMGK=alpine3.21-nginx1.26-php8.3          # <- real main image keys to manage automations for sharing resources -------------------------------> #
APIREST_PORT=7501                                 # <- local machine port opened for container service ------------------------------------------------> #
APIREST_BIND="../../../apirest"                   # <- path where application is binded from container to local ---------------------------------------> #
APIREST_CAAS=any-apirest-dev                      # <- container name to build the service - it is useful to set the environment abbr in this variable > #
APIREST_CAAS_USER=myuser                          # <- container's project directory user -------------------------------------------------------------> #
APIREST_CAAS_GROUP=myuser                         # <- container's project directory group - same as user, root or www-data ---------------------------> #
APIREST_CAAS_MEM=512M                             # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
APIREST_CAAS_SWAP=1G                              # <- container's RAM swap space in storage executed by automation command ---------------------------> #
APIREST_GIT_SSH=~/.ssh/id_rsa	                  # <- container's project ssh key to connect to remote repository ------------------------------------> #
APIREST_GIT_HOST=github.org                       # <- container's project remote repository service --------------------------------------------------> #
APIREST_CAAS_BRANCH=develop                       # <- git branch that bonded directory has to be deployed by default ---------------------------------> #
APIREST_DOMAIN=my-project.localhost               # <- api domain to watch NGINX domain dedicated access/error logs -----------------------------------> #

# DATABASE - LOCAL
DATABASE_PLTF=mariadb-10.11                       # <- platform assets directory's name ---------------------------------------------------------------> #
DATABASE_IMGK=ubuntu-mariadb-10.11                # <- real main image keys to manage automations for sharing resources -------------------------------> #
DATABASE_PORT=7500                                # <- local machine port opened for container service ------------------------------------------------> #
DATABASE_CAAS=any-mariadb-dev                     # <- container name to build the service - it is useful to set the environment abbr in this variable > #
DATABASE_CAAS_MEM=512M                            # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
DATABASE_CAAS_SWAP=1G                             # <- container's RAM swap space in storage executed by automation command ---------------------------> #
DATABASE_ROOT="J4YPuJaieJ35gNAsk5U2usyphvnjAMRe"  # <- database root password -------------------------------------------------------------------------> #
DATABASE_NAME=miapxhd_local                       # <- database name ----------------------------------------------------------------------------------> #
DATABASE_USER=miapxhd                             # <- database user ----------------------------------------------------------------------------------> #
DATABASE_PASS="2wy0aD0ztCQaDwpOSQQor87s82q2eUS1"  # <- database password ------------------------------------------------------------------------------> #
DATABASE_PATH="/resources/database/"              # <- sql file's directory ---------------------------------------------------------------------------> #
DATABASE_INIT=mariadb-init.sql                    # <- init sql file ----------------------------------------------------------------------------------> #
DATABASE_BACK=mariadb-backup.sql                  # <- backup sql file --------------------------------------------------------------------------------> #

# APIREST - REMOTE                                # <- remote server for development ------------------------------------------------------------------> #
APIREST_REMOTE_KEY=""						      # <- remote server access key -----------------------------------------------------------------------> #
APIREST_REMOTE_SSH=""							  # <- remote server address for ssh connection -------------------------------------------------------> #
APIREST_REMOTE_DIR=""							  # <- remote server working directory ----------------------------------------------------------------> #

# DATABASE - REMOTE 						      # <- remote database with content for development or testing ----------------------------------------> #
DATABASE_REMOTE_HOST=""			                  # <- remote database connection params - host, port, db-name, user, etc... --------------------------> #
DATABASE_REMOTE_PASS=""                           # <- remote database connection password ------------------------------------------------------------> #
DATABASE_REMOTE_FILE=""                           # <- remote database exported file ------------------------------------------------------------------> #